  <footer id="sticky-footer" class="py-4 bg-dark text-white-50" style="left:0;bottom:0; height: 50px; padding-top: 10px; padding-right: 20px; width:100%">
    <div class="container text-center">
      <small>All Rights Reserved by  &copy; PLT22</small>
    </div>
  </footer>


  