<!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->


  <div class="container">

    <!-- Heading Row -->
    
      <div class="my-5 py-4 text-center" style="margin-bottom:40px">
        	<img class="img-fluid rounded mb-3 mb-md-0" src="/images/img01.jpeg" max-width="980" max-height="640">

      <!-- /.col-lg-8 -->
      <div class="text-center">
        <h1 class="font-weight-light">NOTICIAS</h1>
        <p>Somos blablla un grupo de weones que quiere blablabla.... Somos blablla un grupo de weones que quiere blablabla....Somos blablla un grupo de weones que quiere blablabla....Somos blablla un grupo de weones que quiere blablabla....</p>
        <!--<a class="btn btn-primary" href="#">Call to Action!</a>-->
      </div>
      <!-- /.col-md-4 -->
      </div>


      <div class="row" style="margin:10px">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/600x200" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Nuestra Misión</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
        </div>
      </div>


      <div class="row" style="margin:10px">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/600x200" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Nuestra Visión</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
        </div>
      </div>

    
    <!-- /.row -->

    <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
        <p class="text-white m-0">Contáctenos en: correodelawea@lawea.cl</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="text-center card-title">Milovan Kegevic</h2>
			<a>
				<img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/320x250" alt="">
			</a>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
          </div>
          <div class="card-footer text-center">
		<!--para hacer link en el boton, solo copiar antes de class btn btn-primary lo siguiente: href="#" -->
            <a class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="text-center card-title">Khalil Saravia</h2>
			<a>
				<img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/320x250" alt="">
			</a>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
          </div>
          <div class="card-footer text-center">
            <a class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="text-center card-title">Alexy Villagrán</h2>
			<a>
				<img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/320x250" alt="">
			</a>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
          </div>
          <div class="card-footer text-center">
            <a class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
	        <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="text-center card-title">Felipe Duve</h2>
			<a>
				<img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/320x250" alt="">
			</a>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
          </div>
          <div class="card-footer text-center">
            <a class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>
	        <!-- /.col-md-4 -->
	        <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="text-center card-title">René Jara</h2>
			<a>
				<img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/320x250" alt="">
			</a>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
          </div>
          <div class="card-footer text-center">
            <a class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>
	        <!-- /.col-md-4 -->
	        <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="text-center card-title">Sebastián Veloso</h2>
			<a>
				<img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/320x250" alt="">
			</a>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
          </div>
          <div class="card-footer text-center">
            <a class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>
	        <!-- /.col-md-4 -->
	        <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="text-center card-title">Nicolás Araneda</h2>
			<a>
				<img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/320x250" alt="">
			</a>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
          </div>
          <div class="card-footer text-center">
            <a class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>
	        <!-- /.col-md-4 -->
	        <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="text-center card-title">Stefan Alarcón</h2>
			<a>
				<img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/320x250" alt="">
			</a>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
          </div>
          
          <div class="card-footer text-center">
            <a class="btn btn-primary btn-sm">Contacto</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
