<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>FeNDeP; Federación Nacional de Deportes Electrónicos Profesional</title>
    <link href="/css/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet">

    {{!--STYLES--}} <!--
    <link rel="stylesheet" href="public/css/{{style}}">


    Google Fonts
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    FONT AWESOME
    <script src="https://kit.fontawesome.com/feee7363e4.js" crossorigin="anonymous"></script>

-->
<script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="/js/popper.min.js" type="text/javacript" ></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <!--https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js-->
</head>
<body>
    
    {{> navigation }}

    {{{ body }}}

    {{> footer }}

</body>
</html>

